#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &roba_physical_layout;
    };
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <4>;
        #define MT(row, col) (((row) << 8) + (col))
        map = 
            MT(0,0) MT(0,1) MT(0,2) MT(0,3) MT(0,4)                     MT(0,6) MT(0,7) MT(0,8) MT(0,9) MT(0,10)
            MT(1,0) MT(1,1) MT(1,2) MT(1,3) MT(1,4) MT(1,5)     MT(3,6) MT(1,6) MT(1,7) MT(1,8) MT(1,9) MT(1,10)
            MT(2,0) MT(2,1) MT(2,2) MT(2,3) MT(2,4) MT(2,5)     MT(3,7) MT(2,6) MT(2,7) MT(2,8) MT(2,9) MT(2,10)
            MT(3,0) MT(3,1) MT(3,2) MT(3,3) MT(3,4) MT(3,5)     MT(3,8) MT(3,9)                         MT(3,10)
        >;
        #undef MT
    };


    roba_physical_layout: roba_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   12       0     0     0>
            , <&key_physical_attrs 100 100  400   24       0     0     0>

            , <&key_physical_attrs 100 100  800   24       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   12       0     0     0>
            , <&key_physical_attrs 100 100 1200   37       0     0     0>

            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  112       0     0     0>
            , <&key_physical_attrs 100 100  400  124       0     0     0>
            , <&key_physical_attrs 100 100  500  137       0     0     0>

            , <&key_physical_attrs 100 100  700  137       0     0     0>
            , <&key_physical_attrs 100 100  800  124       0     0     0>
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  112       0     0     0>
            , <&key_physical_attrs 100 100 1200  137       0     0     0>

            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  212       0     0     0>
            , <&key_physical_attrs 100 100  400  224       0     0     0>
            , <&key_physical_attrs 100 100  500  237       0     0     0>

            , <&key_physical_attrs 100 100  700  237       0     0     0>
            , <&key_physical_attrs 100 100  800  224       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  212       0     0     0>
            , <&key_physical_attrs 100 100 1200  237       0     0     0>

            , <&key_physical_attrs 100 100    0  337       0     0     0>
            , <&key_physical_attrs 100 100  100  312       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  325  337       0     0     0>
            , <&key_physical_attrs 100 100  437  350    1000   437   350>
            , <&key_physical_attrs 100 100  550  387    2000   550   387>



            , <&key_physical_attrs 100 100  650  387 (-2000)   650   387>
            , <&key_physical_attrs 100 100  763  350 (-1000)     0   350>

            , <&key_physical_attrs 100 100 1200  337       0     0     0>

            ;
    };

#define MT(row, col) (((row) << 8) + (col))
        map = <
            MT(0,0) MT(0,1) MT(0,2) MT(0,3) MT(0,4)                     MT(0,6) MT(0,7) MT(0,8) MT(0,9) MT(0,10)
            MT(1,0) MT(1,1) MT(1,2) MT(1,3) MT(1,4) MT(1,5)     MT(3,6) MT(1,6) MT(1,7) MT(1,8) MT(1,9) MT(1,10)
            MT(2,0) MT(2,1) MT(2,2) MT(2,3) MT(2,4) MT(2,5)     MT(3,7) MT(2,6) MT(2,7) MT(2,8) MT(2,9) MT(2,10)
            MT(3,0) MT(3,1) MT(3,2) MT(3,3) MT(3,4) MT(3,5)     MT(3,8) MT(3,9)                         MT(3,10)
        >;
#undef MT

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
            row-gpios
                = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <12>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <10>;
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
    };
};

&spi0 {
    status = "disabled";

    trackball: trackball@0 {
        status = "disabled";
        reg = <0>;
    };
};
